{include file="public/head"}

<div class="container" style="overflow: hidden;">
    <div class="col-md-7">
        <div class="row" style="background-color:darkslategray;color: #fff;">文章</div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                        <div>
                            <span class="glyphicon glyphicon-time"></span><span
                                style="margin-left: 5px">2017-08-12 6:30</span>
                            <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                                style="margin-left: 5px">56</span>
                            <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                                style="margin-left: 5px">78</span>
                            <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                                style="margin-left: 5px">56</span>
                        </div>
                        <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                            1：我们这边是否关机不影响日本那边的程…</p>
                        <span><a href="">查看全文</a></span>
                        <span>

                         </span>
                    </div>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>
                <li class="list-group-item">
                    <h4><a href="">使程序在Linux下后台运行 （关掉终端继续让程序运行的方法）</a></h4>
                    <div>
                        <span class="glyphicon glyphicon-time"></span><span
                            style="margin-left: 5px">2017-08-12 6:30</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-eye-open"></span><span
                            style="margin-left: 5px">56</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-comment"></span><span
                            style="margin-left: 5px">78</span>
                        <span style="margin-left: 20px" class="glyphicon glyphicon-thumbs-up"></span><span
                            style="margin-left: 5px">56</span>
                    </div>
                    <p>一、为什么要使程序在后台执行 我们计算的程序都是周期很长的，通常要几个小时甚至一个星期。我们用的环境是用putty远程连接到日本Linux服务器。所以使程序在后台跑有以下三个好处：
                        1：我们这边是否关机不影响日本那边的程…</p>
                    <span><a href="">查看全文</a></span>
                </li>

            </ul>
        </div>
    </div>
    <div class="col-md-5">

    </div>
</div>

</div>
</body>
</html>